@using WebStore_2020.Models;
@model  IEnumerable<Ciggarets>;

<h1>ReturnList</h1>
<div>
    <a asp-action="Edit">Добавить сигареты в список</a>
    @foreach (Ciggarets ciggarets in Model)
    {
        <a asp-action="Edit" asp-route-id="@ciggarets.Id">Редактировать сигареты<i class="fa fa-edit"></i></a>
        <a asp-action="Details" asp-route-id="@ciggarets?.Id"><img src="@ciggarets.PickUrl" style="width:200px;height:200px"/></a>
        //@Html.ActionLink("Детали", "Details", new { id = ciggarets.Id });
        //@для ссылочки
    }
</div>

