@using WebStore_2020.Models;
@model  IEnumerable<Ciggarets>;

<h1>ReturnList</h1>
<div>
    @foreach (Ciggarets ciggarets in Model)
    {
        <a href ="Details/@ciggarets.Id"><img src="@ciggarets.PickUrl" style="width=200px;height=200px"/></a>
        //@Html.ActionLink("Детали", "Details", new { id = ciggarets.Id });
    }
</div>

